<section class="hero-container">
  <div class="left-column">
    <h1>Easy online accounting software for small businesses</h1>
    <p class="description">
        Get paid fast, capture costs, track sales, and see profits-instantly.
    </p>
    <div class="cta-container">
      <input type="text" placeholder="Email or Phone number" />
      <button class="cta-button">Start Free Trial</button>
    </div>
    <div class="social-proof">
      <div class="google-reviews">
        <img src="assets/google_g_icon.png" alt="Google" class="google-logo" width="40" height="40"> <span class="rating">4.9</span> <span class="material-symbols-outlined star">star</span><span class="material-symbols-outlined star">star</span><span class="material-symbols-outlined star">star</span><span class="material-symbols-outlined star">star</span><span class="material-symbols-outlined star">star</span> <span class="review-count">(700+ reviews)</span>
      </div>
      <div class="statistics">
        <div class="stat-item">
          <div class="stat-number">130k</div>
          <div class="stat-label">Businesses</div>
        </div>
        <div class="stat-divider">|</div>
        <div class="stat-item">
          <div class="stat-number">17k</div>
          <div class="stat-label">Accountants<br/>& Admins</div>
        </div>
        <div class="stat-divider">|</div>
        <div class="stat-item">
          <div class="stat-number">5k</div>
          <div class="stat-label">Accounting <br/>Partners</div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-column">
    <app-hero-bento></app-hero-bento>
  </div>
</section>
